@font-face {
    font-family: 'Neutra Text';
    src: url('./NeutraText-BookItalic.woff2') format('woff2'),
        url('./NeutraText-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neutra Text';
    src: url('./NeutraText-Bold.woff2') format('woff2'),
        url('./NeutraText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neutra Text';
    src: url('./NeutraText-Book.woff2') format('woff2'),
        url('./NeutraText-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neutra Text';
    src: url('./NeutraText-BoldItalic.woff2') format('woff2'),
        url('./NeutraText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

